<div class="container">
  <div class="row">
    <div class="col">
      <app-hijo-ouput
        (eventoEnviarColor)="agregarColor($event)"
      >
      </app-hijo-ouput>
      <div class="card mt-5">
        <div class="card-header">
          <h1>Componente padre</h1>
        </div>
        <div class="card-body">
          <ul class="list-group" *ngFor="let color of colores; let i = index">
            <li class="list-group-item m-1">{{color}}
              <button class="btn btn-danger" (click)="eliminarColor(i)" >Eliminar</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
